{{!-- <nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
        <i class="fa fa-bars"></i>
      </a>
      <!-- right nav-->
      {{#if user}}
      <div class="row">
        <ul class="right hide-on-small-only">
          <li>
            <p>Welcome! {{user.firstname}} {{user.lastname}}</p>
          </li>
          <li>
            <a href="/"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
            <a href="/logout" class="fa fa-sign-out">Sign Out</a>
          </li>
        </ul>
        {{else}}
        <ul class="right hide-on-small-only">
          <li>
            <a href="/"><span class="fa fa-home"></span> Home</a>
          </li>
          <li>
            <a href="/login"><span class="fa fa-user"></span> Login</a>
          </li>
          <li>
            <a href="/signup"><span class="fa fa-sign-in"></span> NewUser</a>
          </li>
          <li>
            <a href="/generalSignup"><span class="fa fa-user"></span> Parent-Registration</a>
          </li>
        </ul>
      </div>
      {{/if}}
      <!-- side nav-->
      <ul class="side-nav" id="main-menu">
        {{#if user}}
        <li>
          <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="/logout" class="btn red darken-1">Sign Out</a>
        </li>
        {{else}}
        <li>
          <a href="/" class=""><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="/login" class=""><span class="fa fa-user"></span> Login</a>
        </li>
        <li>
          <a href="/signup" class=""><span class="fa fa-sign-in"></span> NewUser</a>
        </li>
        <li>
          <a href="/generalSignup"><span class="fa fa-user"></span> Parent-Registration</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav> --}}
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">TechInSchools</a>
      <ul class="right hide-on-med-and-down">
      {{#if user}}
           <li>
            <p>Welcome! {{user.firstname}} {{user.lastname}}</p>
          </li>
          <li>
            <a href="/"><span class="fa fa-home"></span> Home</a>
          </li>
          
          <li>
            <a href="/logout"><span class="fa fa-sign-out"></span>Sign Out</a>
          </li>
        
      {{else}}
        <li>
          <a href="/" class=""><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="/login" class=""><span class="fa fa-user"></span> Login</a>
        </li>
        <li>
          <a href="/signup" class=""><span class="fa fa-sign-in"></span> New User</a>
        </li>
        {{!-- <li>
          <a href="/generalSignup"><span class="fa fa-user"></span> Parent Registration</a>
        </li> --}}
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {{#if user}}
        <li>
          <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="/logout" class="btn red darken-1">Sign Out</a>
        </li>
        {{else}}
        <li>
          <a href="/" class=""><span class="fa fa-home"></span> Home</a>
        </li>
        <li>
          <a href="/login" class=""><span class="fa fa-user"></span> Login</a>
        </li>
        <li>
          <a href="/signup" class=""><span class="fa fa-sign-in"></span> NewUser</a>
        </li>
        {{!-- <li>
          <a href="/generalSignup"><span class="fa fa-user"></span> Parent-Registration</a>
        </li> --}}
        {{/if}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>