<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EDIT</title>
</head>

<body>
  <div class="container">
    <h3>Hello {{user.lastname}}</h3>
    <div class="row">
      <form class="col s12" action="/postEdit/{{{data.id}}}" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">title</i>
            <input type="text" name="title" class="validate" value="{{data.title}}">
            <label for="icon_title">Title</label>
          </div>
          <div class="input-field col s6">
            <label for="date"></label>
            <input type="date" name="date" class="validate" value="{{data.createdAt}}">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4> Today's Agenda :</h4>
            <textarea id="messageField" name="message" value="{{{data.agendaMessage}}}"> </textarea>
            <br>
            <button class="btn btn-success" type="submit"> Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>