<body>
  <div class="container">
    <a href="/attendance">back to classes</a>
    {{!-- Title where Class Name and Time will be displayed. --}}
    <h5 id="classTitle"> 
      {{#each class}}
        <p> {{classname}} <br> {{timePeriod}} <br> {{day}} </p> 
      {{/each}}
    </h5>

    {{!-- For each student, we will create a card that displays the student's image, name, and attendance value --}}
    <div class="row">
      {{#students}}
      <div class="col s4">
        <div class="card" data-id={{id}}>
          <div class="card-image modal-trigger" href="#modal{{id}}" data-id={{id}}>
            <img src={{linktophoto}} class="studentImage">
          </div>
          <div class="card-content modal-trigger" href="#modal{{id}}" data-id={{id}}>
            <p> {{firstname}} {{lastname}} </p>
          </div>
          <div class="card-action">
            <button class='dropdown-button markAttendanceP' data-activates='dropdown{{id}}' id="status{{id}}"> PRESENT </button>
          </div>
        </div>
      </div>

      {{!-- Modal that will popup when the card is clicked --}}
      <div id="modal{{id}}" class="modal">
        <div class="modal-content">
          <img src={{linktophoto}} class="circle" id="studentImageCircle">
          <p id="studentName"> {{firstname}} {{lastname}} </p>
          <p id="studentID"> ID: {{id}} </p>
          <a id="viewAttendance{{id}}" class="modal-trigger viewRecords" href="#modalRecord{{id}}"> View Attendance Record </a>
          <table>
            <thead>
              <td>
                <p class="details"> DETAILS: </p>
              </td>
              <td>

              </td>
            </thead>
            <tr>
              <td>
                <p> Address : </p>
              </td>
              <td>
                <p> {{address}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p> Phone Number : </p>
              </td>
              <td>
                <p> {{phonenumber}} </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#" class="modal-action modal-close"> Close </a>
        </div>
      </div>

      {{!-- Modal that will popup when 'View Attendance Record' is clicked --}}
      <div id="modalRecord{{id}}" class="modal">
        <div class="modal-content">
          <p id="studentName"> Attendance Record for {{firstname}} {{lastname}} </p>
          <p id="studentID"> ID: {{id}} </p>
          <table>
            <thead>
              <th>
                <p> Date : </p>
              </th>
              <th>
                <p class="center-align"> Attendance Value : </p>
              </th>
            </thead>
            <tbody id="recordTable{{id}}">

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <a href="#" class="modal-action modal-close"> Close </a>
        </div>
      </div>

      {{!-- ID and Class Modal Here --}} {{!-- Dropdown Menu that displays all the attendance values --}}
      <ul id='dropdown{{id}}' class='dropdown-content'>
        <li class="attendanceValue valign-wrapper" style="background-color: #FFB3B3" id="A{{id}}"> ABSENT </li>
        <li class="attendanceValue valign-wrapper" style="background-color: #FFD700" id="L{{id}}"> LATE </li>
        <li class="attendanceValue valign-wrapper" style="background-color: #87CEEB" id="E{{id}}"> EXCUSED </li>
        <li class="attendanceValue valign-wrapper" style="background-color: #90EE90" id="P{{id}}"> PRESENT </li>
      </ul>
      {{/students}}
    </div>
    <button class="btn waves-effect waves-light" id="submitAttendance"> Submit Attendance </button>
  </div>

  <script>
    $(document).ready(function () {
      var attendanceRecords = {{json attendance}};
      var date = formatDate(new Date());
      for (var i = 0; i < attendanceRecords.length; i++){
        var todaysDate = [date.substring(0, 4), date.substring(5, 7), date.substring(8, 10)];
        var attendanceDate = [attendanceRecords[i].date.substring(0, 4), attendanceRecords[i].date.substring(5, 7), attendanceRecords[i].date.substring(8, 10)];
        var datesEqual = true;
        for (var j = 0; j < 3; j++){
          if (todaysDate[j] != attendanceDate[j]){
            datesEqual = false;
          }
        }
        if (datesEqual){
          $("#status" + attendanceRecords[i].studentID).text(attendanceRecords[i].attendancevalue);
          var status = attendanceRecords[i].attendancevalue.charAt(0);
          $("#status" + attendanceRecords[i].studentID).removeClass("markAttendanceP");
          $("#status" + attendanceRecords[i].studentID).removeClass("markAttendanceL");
          $("#status" + attendanceRecords[i].studentID).removeClass("markAttendanceE");
          $("#status" + attendanceRecords[i].studentID).removeClass("markAttendanceA");
          $("#status" + attendanceRecords[i].studentID).addClass("markAttendance" + status);
        }
      }

      $(".card").on("click", function () {
        var ID = $(this).attr("data-id");
        $('#modal' + ID).modal();
      });
      $(".attendanceValue").on("click", function () {
        var status = $(this).attr("id").charAt(0);
        var ID = $(this).attr("id").substring(1);
        $("#status" + ID).removeClass("markAttendanceP");
        $("#status" + ID).removeClass("markAttendanceL");
        $("#status" + ID).removeClass("markAttendanceE");
        $("#status" + ID).removeClass("markAttendanceA");
        $("#status" + ID).addClass("markAttendance" + status);
        switch (status) {
          case "P":
            $("#status" + ID).text("PRESENT");
            break;
          case "L":
            $("#status" + ID).text("LATE");
            break;
          case "E":
            $("#status" + ID).text("EXCUSED");
            break;
          case "A":
            $("#status" + ID).text("ABSENT");
            break;
          default:
            break;
        }
      });
      $(".viewRecords").on("click", function(){
        $(".modal").modal();
        var attendanceRecords = {{json attendance}};
        var currentID = $(this).attr("id").substring(14);
        $("#recordTable" + currentID).empty();
        for (var i = 0; i < attendanceRecords.length; i++){
          if (attendanceRecords[i].studentID == currentID){
            var recordValue;
            switch(attendanceRecords[i].attendancevalue) {
              case "PRESENT" :
                recordValue = "<div class='box' style='background-color: #90EE90'> </div>";
                break;
              case "ABSENT" :
                recordValue = "<div class='box' style='background-color: #FFB3B3'> </div>";
                break;
              case "LATE" :
                recordValue = "<div class='box' style='background-color: #FFD700'> </div>";
                break;
              case "EXCUSED" :
                recordValue = "<div class='box' style='background-color: #87CEEB'> </div>";
                break;
              default :
                break;
            }
            $("#recordTable" + currentID).append(
              "<tr>" +
                "<td>" +
                  attendanceRecords[i].date.substring(0, 10) +
                "</td>" +
                "<td>" +
                  recordValue +
                "</td>" +
              "</tr>"
              );
          }
        }
      });
      $("#submitAttendance").on("click", function(event){
        event.preventDefault();

        var studentList = {{json students}};
        for (var i = 0; i < studentList.length; i ++){
          var todaysDate = formatDateForID(new Date());
          var ID = todaysDate + studentList[i].studentID + studentList[i].classID;

          var attendanceRecord = {
            id: ID,
            studentID: studentList[i].studentID,
            classID: studentList[i].classID,
            attendanceValue: $("#status" + studentList[i].studentID).text().trim(),
            date: formatDate(new Date())
          };

          var exists = false;
          for (var j = 0; j < attendanceRecords.length; j++){
            if (attendanceRecord.id == attendanceRecords[j].id){
              console.log(attendanceRecord.id);
              exists = true;
              break;
            }
          }

          if (!exists){
            // Send the POST request.
            $.ajax("/api/takeAttendance", {
                type: "POST",
                data: attendanceRecord
            });
          }
          else {
            // PUT
            $.ajax("/api/takeAttendance", {
              type: "PUT",
              data: attendanceRecord
            });
          }

          setTimeout(function(){
            window.location.href = window.location.origin + "/attendance";
          }, 2000);
        }
      });
    });

    function formatDate(date) {
      var day = date.getDate();
      if (day < 10 && day.length != 2){
        day = "0" + day;
      }
      var month = date.getMonth() + 1;
      if (month < 10 && month.length != 2){
        month = "0" + month;
      }
      var year = date.getFullYear();

      return year + "-" + month + "-" + day;
    }

    function formatDateForID(date) {
      var day = date.getDate();
      if (day < 10 && day.length != 2){
        day = "0" + day;
      }
      var month = date.getMonth() + 1;
      if (month < 10 && month.length != 2){
        month = "0" + month;
      }
      var year = date.getFullYear();

      return year + "" + month + "" + day;
    }
  </script>

</body>