<body>
  <div class="container">
    {{!-- Title where Class Name and Time will be displayed. --}}
    <h5 id="classTitle"> Class Name and Time Here </h5>

    {{!-- For each student, we will create a card that displays the student's image, name, and attendance value --}}
    <div class="row">
      {{#each students}}
        <div class="col s4">
          <div class="card" data-id={{id}}>
            <div class="card-image modal-trigger" href="#modal{{id}}" data-id={{id}}>
              <img src={{linktophoto}} class="studentImage">
            </div>
            <div class="card-content modal-trigger" href="#modal{{id}}" data-id={{id}}>
              <p> {{firstname}} {{lastname}} </p>
            </div>
            <div class="card-action">
              <button class='dropdown-button markAttendance' data-activates='dropdown{{id}}'> PRESENT </button>
            </div>
          </div>
        </div>

        {{!-- Modal that will popup when the card is clicked --}}
        <div id="modal{{id}}" class="modal">
          <div class="modal-content">
            <img src={{linktophoto}} class="circle" id="studentImageCircle">
            <p id="studentName"> {{firstname}} {{lastname}} </p>
            <p id="studentID"> ID: {{id}} </p>
            <table>
              <thead>
                <td rowspan="2">
                  <p class="details"> DETAILS: </p>
                </td>
              </thead>
              <tr>
                <td>
                  <p> Address : </p>
                </td>
                <td>
                  <p> {{address}} </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p> Phone Number : </p>
                </td>
                <td>
                  <p> {{phonenumber}} </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p> Parent 1 : </p>
                </td>
                <td>
                  <p> NULL </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p> Parent 2 : </p>
                </td>
                <td>
                  <p> NULL </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <a href="#" class="modal-action modal-close center-align"> View Attendance Record </a>
          </div>
        </div>

        {{!-- Dropdown Menu that displays all the attendance values --}}
        <ul id='dropdown{{id}}' class='dropdown-content'>
          <li class="attendanceValue valign-wrapper" style="background-color: #FFB3B3"> ABSENT </li>
          <li class="attendanceValue valign-wrapper" style="background-color: #FFD700"> LATE </li>
          <li class="attendanceValue valign-wrapper" style="background-color: #87CEEB"> EXCUSED </li>
          <li class="attendanceValue valign-wrapper" style="background-color: #90EE90"> PRESENT </li>
        </ul>
      {{/each}}
    </div>
    <button class="btn waves-effect waves-light" id="submitAttendance"> Submit Attendance </button>
  </div>

  <script>
    $(document).ready(function(){
      $("#submitAttendance").on("click", function(){
          $('.dropdown-trigger').dropdown();
      });

      $(".card").on("click", function(){
          $('.modal').modal();
      });
    });
  </script>

</body>